body {
    background-image: url("images/street.jpg");
    background-size: stretch;
    background-repeat: no-repeat;
    background-position: center;
}

#burger {
    width: 8vw;
    padding-top: 2vw;
}

#tina {
    width: 15vw;
    padding-top: 11vw;
    position: relative;
    left: 0vw;
}

#gene {
    width: 15vw;
    position: relative;
    left:0vw;
}
