body {
    height: 47vw;
    background-image: url("images/street.jpg");
    background-size: cover;
}

#burger {
    width: 8vw;
    padding-top: 2vw;
}

#tina {
    width: 7vw;
    padding-top: 11vw;
}

#gene {
    width: 9vw;
}
